<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DynamoInventor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DynamoInventor.Properties.Settings>
            <setting name="ButtonNameDynamo" serializeAs="String">
                <value>Run Dynamo</value>
            </setting>
            <setting name="ButtonInternalNameDynamo" serializeAs="String">
                <value>RunDynamo</value>
            </setting>
            <setting name="ButtonDescrDynamo" serializeAs="String">
                <value>Click this to run Dynamo in Inventor</value>
            </setting>
            <setting name="ButtonTooltipDynamo" serializeAs="String">
                <value>Click this to run Dynamo in Inventor</value>
            </setting>
            <setting name="ButtonIconDynamo32x32" serializeAs="String">
                <value>DynamoInventor.logo_square_32x32.ico</value>
            </setting>
            <setting name="ButtonIconDynamo64x64" serializeAs="String">
                <value>DynamoInventor.logo_square_32x32.ico</value>
            </setting>
            <setting name="ribbonPanelDisplayNameDynamo" serializeAs="String">
                <value>Dynamo</value>
            </setting>
            <setting name="ribbonPanelInternalName" serializeAs="String">
                <value>Dynamo:InventorDynamo:DynamoRibbonPanel</value>
            </setting>
        </DynamoInventor.Properties.Settings>
    </userSettings>
</configuration>